body {
	background: black;
	color: yellow;
	width: 90vw;
	margin-left: 5vw;
}

/*Heading Start*/

header {
	background-color: green;
	width: inherit;
	display: flex;
}

header .logo {
	color: red;
	width: 20vw;
}

header nav {
	background-color: red;
	width: 70vw;
}

header ul {
	color: black;
}

header li {
	display: inline;
	float: right;
}

header li a {
	padding-right: 5rem;
}

/*Header End*/

/*Content Starts*/
section.cards_container {
	background-color: pink;
	width: inherit;
}

section p.no_results {
	color: blue;
	font-size: 3rem;
	text-align: center;
}

section div.card{
	display: inline-block;
	padding: .5rem;
}

section div.modal {
	background-color: grey;
	max-height: 80vh;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
	display: none;
}

section div.modal img {
	max-height: inherit;
}

/*Content Ends*/

/*Footer Starts*/
footer {
	background-color: green;
	width: inherit;
	display: flex;
}

footer li {
	display: inline;
	float: right;
}

footer li a {
	padding-right: 5rem;
}

/*Footer Ends*/